.main {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
/* swiper config */
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  -webkit-user-drag: none;
}
a:hover {
  color: #14849a;
}

img {
  -webkit-user-drag: none !important;
}

/* Hide horizontal scrollbar utility */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
