$primary_color: #279db6;
$primary_color_rgba: rgba(39, 157, 182, 0.9);
$max_width_default: 1200px;
$color_dark: #14849a;
$social_media_color: #3a589d;
$white_color: #ffffff;
$copyright_color: #55b627;
